<?xml version="1.0" encoding="UTF-8"?>

<!-- web.xml 파일 : 프로젝트의 운영 설정을 기곳에 재정의 서버 설정보다 우선 적용 -->

<web-app version="4.0"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee   
	http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

	<!-- 가능한 설정 : 세션만료시간 설정, 에러페이지 설정, 필터설정, 서블릿설정 -->
	
<!--						세션유지시간 -->
	<session-config>
		<session-timeout>720</session-timeout>
	</session-config>
	
<!-- 						필터설정 -->
<!-- 			순서 : Encoding/ AdminFilter /GoodsAuthorityCheckFilter-->
<!-- 	EncodingFilter -->
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>semi.filter.EncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!-- 	방문자 수 증가필터 -->
	<filter>
		<filter-name>sessionIsNewFilter</filter-name>
		<filter-class>semi.filter.SessionIsNewFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sessionIsNewFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
<!--  로그인 필터 -->
	<filter>
	<filter-name>loginFilter</filter-name>
	<filter-class>semi.filter.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
	<filter-name>loginFilter</filter-name>
	<url-pattern>/admin/*</url-pattern>
	<url-pattern>/member/info.jsp</url-pattern>
	<url-pattern>/member/change_info.do</url-pattern>
	<url-pattern>/member/change_info.jsp</url-pattern>
	<url-pattern>/member/check.do</url-pattern>	
	<url-pattern>/member/check.jsp</url-pattern>
	<url-pattern>/member/exit.do</url-pattern>
	<url-pattern>/member/change_pw.jsp</url-pattern>
	<url-pattern>/member/change_pw.do</url-pattern>
	<url-pattern>/member/change_pw_result.jsp</url-pattern>
	</filter-mapping>
	
<!-- 	AdminFilter -->
	<filter>
		<filter-name>adminFilter</filter-name>
		<filter-class>semi.filter.AdminFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>adminFilter</filter-name>
		<url-pattern>/admin/*</url-pattern>
		<url-pattern>/board/write.jsp</url-pattern>
		<url-pattern>/board/edit.jsp</url-pattern>
	<url-pattern>/board/delete.do</url-pattern>
	</filter-mapping>
	<!-- 이 필터는 게시글 수정/삭제 시 본인이나 관리자만 통과하도록 차단하는 필터 -->
	<filter>
		<filter-name>goodsAuthorityCheckFilter</filter-name>
		<filter-class>semi.filter.GoodsAuthorityCheckFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>goodsAuthorityCheckFilter</filter-name>
		<url-pattern>/goods/goods_edit.jsp</url-pattern>
		<url-pattern>/goods/goods_delete.do</url-pattern>
	</filter-mapping>
	
	
	<!-- 					에러 페이지 설정 -->
	<error-page>
		<error-code>403</error-code>
		<location>/error/403.jsp</location>	
	</error-page>
	
	<error-page>
		<error-code>404</error-code>
		<location>/error/404.jsp</location>	
	</error-page>
	
	<error-page>
		<error-code>405</error-code>
		<location>/error/405.jsp</location>	
	</error-page>
	
	<error-page>
		<error-code>500</error-code>
		<location>/error/500.jsp</location>	
	</error-page>
	
	
	
	
</web-app>