

.maintitle{
	font-size:36px;
	color: #222;
}

.subtitle{
	font-size:14px;
	color:#999;
	margin-top:10px
}

.board_list_wrap {
    padding: 50px;
    width:1200px;
}

.board_list{
    width: 100%;
    border-top: 2px solid #ff8041;
    margin-bottom:30px;
}

.board_list tr{
    border-bottom: 1px solid #999;
}

.board_list th,
.board_list td{
     padding: 10px;
     

}

.board_list td {
    text-align: center;
}

.board_list tbody tr td:nth-child(2) {
    text-align: left;
}

.board_list_wrap .paging{
    margin-top: 20px;
    text-align: center;

}
.board_list_wrap .paging a {
    display: inline-block;
    margin-left: 10px;
    padding: 5px 10px;
    font-size: 12px;
}
.board_list_wrap .paging a:first-child{
    margin-left: 0;
}



.board_list_wrap .paging a.num{
   border: 1px solid #ff8041;
   font-weight: 600;
   color : #ff8041;
}

.board_list_wrap .paging a.num.on {
    background:#ff8041;
    color: #fff;
}

.search-drop{
	height:40px;
	border:1px solid #ddd;
}

.search-bt {
    height:40px;
    width: 65px;
    background: #ff8041;
    color: #ffffff;
    font-size:16px;
    border:1px solid #ff8041;
	cursor:pointer;
 }
 

.search-txt {
    height: 40px;
    width:300px;
    border:1px solid#ddd;
    font-size:16px;
}

.search-txt:focus {
    border:1px solid#ff8041;
    
}

.title{
    height:220px;
    background:#F5F5F5;
    text-align:center;
}

.bt{
    display: inline-block;
    border: 1px solid #ddd;
    color :#666;
    padding: 5px;
}