@charset "UTF-8";


div,ul,  li, h1, h2, h3, h4, h5, h6, form, p, th, td{
    margin:0;
    padding: 0;
    border:none;
}

ul, li{
		  list-style: none;
		}

div{
	display:block;
}

a{
	text-decoration: none;
	color:#222;
}