@charset "UTF-8";


ul, li{
		  list-style: none;
		}

div{
	display:block;
}

a{
	text-decoration: none;
}

.header{
	width:100%; 
	position:relative; 
	background:#fff; 
	border-bottom:1px solid #ddd;


}


.inner_wrap{
	position:relative; 
	width:1200px; 
	margin:0 auto;
}

.header>.inner_wrap{
	position:relative; 
	height:160px;
}
.header > .inner_wrap #logoimg{
	position:absolute; 
	left:0; 
	top:30px;
	width: 188px;
}
.header> .inner_wrap > a {
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1;
	width:156px;
	height:34px;
}


.searchbar { 
	position: absolute; 
	top: 22px; 
	left: 250px; 
	width: 560px; 
	height: 56px; 
	border: 1px solid #ff8081; 
	border-radius: 28px;
}

.searchbar .input_box { 
	position: relative; 
	width: 440px; 
	margin: 10px 0 0 50px; 
}

.searchbar .input_box input[type="text"] { 
	width: 100%; 
	height: 33px; 
	padding: 5px 0;
	 border: none; 
	 font-size: 16px; 
	 color: #222; 
	 background-color: #fff;
	}

.header .searchbar .search_btn{ 
	position: absolute;
	border: none; 
	cursor: pointer;
	background: none;
}

.header .searchbar .search_btn > img{ 
	width: 32px;
	height: 32px; 
	position: relative;
}

.header .inner_wrap .keyword{
	position:absolute;
	top:100px;
	left:300px;
}

.header .inner_wrap .keyword a{
	color : #444;
}

.header .inner_wrap .keyword a:hover{
	text-decoration: underline;
}

/*로그인, 마이페이지 */

.topmenu_wrap{
	display: block;
	position: absolute;
	right: 10px;
	top: 26px;
	width: 300px;
}

.topmenu_wrap  .topmenu{
	top: 0;
	right: 0;
	display: inline-block;
	position: absolute;
}


.topmenu >  li{
			display: inline-block;
			margin-left: 20px;
			float: left;
			cursor: pointer;
}

.topmenu img{
	height: 20px;
}

.topmenu .topmenu_sub{
	position: absolute;
	left: -27px;
	top: 0;
	margin-top: 40px;
	display: block;	
	border: 1px solid #999999;
	width: 160px;
	height: auto;
	background-color: #fff;
	display: none;
	z-index: 50;
}

.topmenu .topmenu_sub .sub_drop{
	padding: 20px 16px 20px 16px;
	text-align: left;
}

.topmenu > .login:hover >.my,
.topmenu > .mycart:hover > .cart{
	display: block;
}


.topmenu > li{
			overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
}
.topmenu .topmenu_sub .sub_drop li{
	display: block;
	padding: 0;
	float: none;
	margin-left: 0;
	height: auto;
}

.topmenu .topmenu_sub .sub_drop  li a{
	display: inline-block;
	padding: 0;
	color: #222;
	line-height: 30px;
	background: none;
	font-size: 16px;
	line-height: 32px;
	
}

.topmenu .topmenu_sub .sub_drop  li a:hover{
	text-decoration:underline;
}



/*GNB*/


.gnb_wrap{
	width:100%;
	height:50px;
	position: relative;
	overflow:hidden;
	background:#fff;
	border-top: 1px solid #eee;
}







