@charset "EUC-KR";

/* ========================================================================================= */
/* 	리스트 디자인*/
        .custom-list{
            list-style: none;
            margin:0;
            padding:0;
            display:inline-block;
            
            width:150px;
        }
        .custom-list > li{
            background-color:black;
            color:white;
            padding:15px;
            cursor:pointer;
        }
        .custom-list li:hover{
            background-color:gray;
            color:black;
        }
        
        /* 2차 이상의 메뉴 스타일 */
/*         .custom-list ul{ */
/*             list-style: none; */
/*             padding:0; */
/*             margin:0; */
            
/*             position: absolute; */
/*             margin-left: 135px; */
/*             margin-top: -36px; */
            
/*             2차 이상의 메뉴는 처음에 숨김 처리 */
/*             display: none; */
/*         } */
/*         .custom-list ul > li{ */
/*             background-color:black; */
/*             color:white; */
/*             padding:15px; */
/*             width:150px; */
/*         } */
                
        
        /*
            메뉴를 표시하는 방법
            1. :hover
            2. :checked
        */
 
/* ========================================================================================= */       
/*          카테고리 */
        .menu-wrap > label{
            display: block;
        }
        .menu-wrap > #custom-menu{
            display: none;
        }
        
        .menu-wrap > .custom-list li:hover > ul{
            display: block;
        }
        
        .menu-wrap > .custom-list{
            display:none;
            margin-left:-54px;
        }
        
        .menu-wrap > #custom-menu:checked + .custom-list{
            display: inline-block;
        }

/* ========================================================================================= */
/*         로그인 */
		.menu-wrap1 > label{
            display: block;
        }
        .menu-wrap1 > #custom-menu1{
            display: none;
        }
        
        .menu-wrap1 > .custom-list li:hover > ul{
            display: block;
        }
        
        .menu-wrap1 > .custom-list{
            display:none;
            margin-left:-54px;
        }
        
        .menu-wrap1 > #custom-menu1:checked + .custom-list{
            display: inline-block;
        }


/* ========================================================================================= */
/* 		마이페이지 */
		.menu-wrap2 > label{
            display: block;
        }
        .menu-wrap2 > #custom-menu2{
            display: none;
        }
        
        .menu-wrap2 > .custom-list li:hover > ul{
            display: block;
        }
        
        .menu-wrap2 > .custom-list{
            display:none;
            margin-left:-54px;
        }
        
        .menu-wrap2 > #custom-menu2:checked + .custom-list{
            display: inline-block;
        }
        
/* ========================================================================================= */
/* 		관심목록 */
		.menu-wrap3 > label{
            display: block;
        }
        .menu-wrap3 > #custom-menu3{
            display: none;
        }
        
        .menu-wrap3 > .custom-list li:hover > ul{
            display: block;
        }
        
        .menu-wrap3 > .custom-list{
            display:none;
            margin-left:-54px;
        }
        
        .menu-wrap3 > #custom-menu3:checked + .custom-list{
            display: inline-block;
        }
        
        
/*  ================================================== */
/* 위치를 고정  */
        .custom-list{
		position:absolute;
		}
        