@charset "UTF-8";


 #regist{
    width: 800px;
    margin:0 auto;
}


.regist_wrap{
    position:relative; 
	width:800px; 
	margin:0 auto;
}

.regist_wrap input[type="tel"],
.regist_wrap input[type="text"],
.regist_wrap input[type="password"]{
    width:250px;
    height: 40px;
    border: 1px solid #ccc;
}



#regist_header{
    margin-top: 50px;
    border-bottom: 2px solid #333;
    width:800px;
}

.regist_title{
	margin-top:50px;
	width:100%;
	color:#333;
	font-size:34px;
    font-weight: bold;
    padding-bottom: 40px;
}


.regist_table{
    width: 800px;
}

.regist_table tr th{
    text-align: left;
    width: 200px;
    
}

.regist_wrap .pwline,
.regist_table tr:first-child td{
    border: none;
}


.regist_table tr td{
    padding:18px 0;
    padding-left: 12px;
    height: auto;
    border-bottom: none;
    border-top: 1px solid #eee;

}



.regist_bottom{
    border-top: 1px solid #eee;
    padding-top: 40px;
    margin-bottom: 120px;
    text-align: center;
}

.regist_bottom input[type="submit"]{
    width: 200px;
    height: 40px;
    border: none;
    background-color: #ff8041;
    color: #fff;
}

.regist_bottom input[type="reset"]{
    width: 140px;
    height: 40px;
    border: none;
    background-color: #333;
    color: #fff;
}
  
.regist_wrap input[name="customer_post"]{
    width: 120px;
}
.regist_wrap input[class="regist_button2"]{
    width: 114px;
    height: 40px;
    border: none;
    background-color: #ddd;
}


#regist button.regist_button2{
    width: 100px;
    height: 40px;
    border: none;
    background-color: #ddd;
}

.regist_wrap .inputlabel{
    padding-bottom: 10px;
}
#regist .postbtn{
    margin-bottom: 8px;

}

.regist_wrap .inputtext{
    margin-top: 5px;
    font-size: 12px;
}



.regist_success_wrap{
    text-align: center;
    margin-bottom: 300px;
}

.regist_success_title{
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 34px;
    color: #333;
}

.regist_success_wrap h5{
	font-size:20px;	
}
